.mobile-button {
  display: inline-block;
  padding: 0;
  background-color: #fff;
  margin-left: auto;
  border: transparent;
  @media screen and(min-width:768px) {
    display: none;
  }

  &:active >svg{
      fill: $accent-color;
  }
}
.mobile-button__close {
  display: none;
}
.mobile-button.is-open .mobile-button__close {
  display: inline-block;
}
.mobile-button.is-open .mobile-button__open {
  display: none;
}
