.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;

  background-color: $backdrop-color;
  transition: opacity 250ms $timefunction, visibility 250ms $timefunction;

  &--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #fff;

  transition: transform 250ms $timefunction;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.9);
}

.modal__icon {
  width: 11px;
  height: 11px;

  transition: fill 250ms $timefunction;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $backup-text-color;

  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: $accent-color;
  }
}

@import "./modal-form";