.form__label input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: fill 250ms $timefunction,
    background-color 250ms $timefunction;
}

.form__label {
  @include centeredFlex;
  flex-direction: row-reverse;
}

.form__policy input:checked ~ .icon-checkbox {
  border-radius: 2px;
  fill: $accent-color;
  background-color: $accent-color;
}

.form__policy input:focus ~ .icon-checkbox,
.form__policy input:active ~ .icon-checkbox {
  fill: $accent-color;
}
