body {
  background-color: $main-bg-color;
  font-family: Roboto, sans-serif;
  color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
.container {
  @extend %container;
}
// .section {
//   @extend %section;
// }
// .section__header {
//   @extend %section__header;
// }
.logo {
  @extend%logo;
}
