.contacts {
  // @extend %list;
  display: none;
  @media screen and(min-width:768px) {
    display: block;
    margin-left: 84px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and(min-width:1200px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts__link {
  @extend %link;
  display: flex;
  align-items: center;

  color: $secondary-text-color;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms $timefunction;
  @media screen and(min-width:1200px) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover > svg,
  &:focus > svg {
    fill: $accent-color;
  }
}

.contacts__mail-icon {
  fill: $secondary-text-color;
  width: 14px;
  height: 10px;
  margin-right: 10px;

  transition: fill 250ms $timefunction;
  @media screen and(min-width:1200px) {
    width: 16px;
    height: 12px;
  }
}
.contacts__phone-icon {
  fill: $secondary-text-color;
  width: 10px;
  height: 14px;
  margin-right: 10px;

  transition: fill 250ms $timefunction;
  @media screen and(min-width:1200px) {
    height: 16px;
  }
}

.contacts__link--footer {
  @extend %link;

  // margin-top: 8px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $footer-contacts-color;
}
.contacts--footer {
  @extend %list;
}
.contacts__item--footer {
  margin-top: 9px;
}
