.grid {
  @extend%list;
  display: block;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.grid__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and(min-width:768px) {
      margin-bottom: 15;
    }
  }
  @media screen and(min-width:768px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }
}
