.navigation {
  @extend %list;
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  color: $main-text-color;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color 250ms $timefunction;

  &:hover,
  &:focus,
  &--active {
    color: $accent-color;
  }

  &--active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196f3;

    position: absolute;
    bottom: 0%;
  }
}
