.filter__list {
  @extend %list;
  @media screen and(max-width:419px) {
    display: block;
  }
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  @media screen and(min-width:768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
  }
}
.filter__item {
  @media screen and(max-width:419px) {
    width: 100%;
  }
}

.filter__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;

  @media screen and(max-width: 419px) {
    margin-bottom: 0;
  }
  @media screen and(min-width:768px) {

    margin-bottom: 0;
  }
}

.filter__item:not(:last-child) {
  @media screen and(max-width:419px) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  margin-right: 8px;
}

.filter__btn {
  color: $main-text-color;
  background-color: $secondary-bg-color;
  min-width: 73px;
  border: transparent;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border-radius: 4px;
  padding: 6px 22px;

  cursor: pointer;

  transition: background-color 250ms $timefunction, color 250ms $timefunction,
    box-shadow 250ms $timefunction;

  @media screen and(max-width:419px) {
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $backup-text-color;
    background-color: $accent-color;
    box-shadow: $button-box-shadow;
  }
}
