.sotial {
  // @extend %list;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.sotial__icon {
  fill: #afb1b8;

  width: 20px;
  height: 20px;

  transition: fill 250ms $timefunction;
}

.sotial__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms $timefunction;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:hover > .sotial__icon,
  &:focus > .sotial__icon {
    fill: $backup-text-color;
  }
}

.sotial__item:not(:last-child),
.footer-sotial__item:not(:last-child) {
  margin-right: 10px;
}

.footer-sotial {
  margin-top: 60px;
  @media screen and(min-width:768px) {
    margin-top: 0;
  }
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;

    margin-bottom: 20px;

    color: $backup-text-color;
  }

  &__list {
    // @extend%list;
    display: flex;
    justify-content: center;
  }
}

.footer-sotial__link {
  @include centeredFlex;
  width: 44px;
  height: 44px;

  background-color: $footer-sotialBg-color;
  border-radius: 50%;

  transition: background-color 250ms $timefunction;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer-sotial__icon {
  fill: #fff;

  width: 20px;
  height: 20px;
}
