
.task__list {
  @extend %list;
  display: flex;
}
.task__list-item:not(:last-child) {
  margin-right: 30px;
}

.card {
  position: relative;
  overflow: hidden;
}
.card__img {
  display: block;
  max-width: 370px;
}

.card__overlay {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.card__text-thumb {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $secondaryOverlay-bg-color;
}
