@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin generateIcons($iconList) {
  @each $iconName in $iconList {
    .icon-#{$iconName} {
      background-image: url("/img/#{iconName}.svg");
    }
  }
}
