%list {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
%link {
  display: inline-block;
  text-decoration: none;
}
%container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}
%section {
  padding-bottom: 94px;
  padding-top: 94px;
}
%section__header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
%logo {
  display: inline-block;
  color: $main-logo-color;
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
