$main-bg-color: #fff;
$section-bg: #2f303a;
$secondary-bg-color: #f5f4fa;
$main-text-color: #212121;
$accent-color: #2196f3;
$secondary-text-color: #757575;
$backup-text-color: #fff;
$main-logo-color: #2196f3;
$secondary-logo-color: #000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-sotialBg-color: rgba(255, 255, 255, 0.1);
$gradient: rgba(47, 48, 58, 0.4);
$mainOverlay-bg-color: rgba(33, 150, 243, 0.9);
$secondaryOverlay-bg-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
$form-border-color:rgba(255, 255, 255, 0.3);
$timefunction: cubic-bezier(0.4, 0, 0.2, 1);
$button-box-shadow :0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
$portfolioCard-box-shadow :0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);